name: Tweet Job
"on":
  push:
    branches:
      - main
  schedule:
    - cron: "0 * * * *"

jobs:
  run_tweet_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: sudo apt install -y imagemagick
      - run: echo ${{ secrets.ECHO_SD }} > echo-sd
      - run: echo ${{ secrets.ZOOMBLUR }} > zoomblur
      - run: chmod +x zoomblur echo-sd
      - run: npm ci
      - run: node app
        env:
          TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
          TWITTER_API_KEY_SECRET: ${{ secrets.TWITTER_API_KEY_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
          BOT_ID: ${{ secrets.BOT_ID }}
